[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = clone / cvs-import of pthread-win32 + local tweaks (including MSVC2008, MSVC2010 and MSVC2012 project files)
[access "refs/*"]
	owner = group user/Ellery Wang (ellery92)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ellery Wang (ellery92)
	label-Verified = -1..+1 group user/Ellery Wang (ellery92)
	push = group user/Ellery Wang (ellery92)
	read = group user/Ellery Wang (ellery92)
	rebase = group user/Ellery Wang (ellery92)
	removeReviewer = group user/Ellery Wang (ellery92)
	submit = group user/Ellery Wang (ellery92)
[access "refs/heads/*"]
	create = group user/Ellery Wang (ellery92)
	push = +force group user/Ellery Wang (ellery92)
	pushMerge = group user/Ellery Wang (ellery92)
	read = group user/Ellery Wang (ellery92)
[access "refs/tags/*"]
	push = group user/Ellery Wang (ellery92)
	push = +force group user/Ellery Wang (ellery92)
